body{
    background-color: cornflowerblue;
}

.fodiv{
    text-align: center;
    width: 80%;
    height: 1000px;
    margin-left: 10%;
    border: 3px darkblue solid;
    background-color: rgb(100, 178, 237);
}

.oldal{
    margin-left: 3.6%;
    text-align: center;
    width: 13%;
    height: 200px;
    border: 2px darkblue solid;
    border-radius: 5px;
    float: left;
    background-color: rgb(0, 180, 255);

}
footer{
    margin-top: 250px;
}
footer button{
    padding: 5px 6px 5px 6px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: large;
    font-family:'Calibri';
    font-weight: bold;
    background-color:dodgerblue;
    color: rgb(240, 248, 255);
}
footer button:hover{
    background-color: blue;
    color: aliceblue;
}